<form method="post" action="{{ path('meet_delete', {'meetId': meet.meetId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meet.meetId) }}">
    <button class="btn">Delete</button>
</form>
