{% extends 'base.html.twig' %}
{% block title %}Update your Review!{% endblock %}
{% block body %}
    <center>
        </br>
        <h1> Update down your feedback !  </h1>
        </br>
        </br>

        {{ form_start(form ) }}
        {{ form_widget(form) }}

    <input   type="reset"  class="btn btn-info "> </input>
    &nbsp; &nbsp;
        <button type="submit" class="btn btn-success">Submit Review </button>
    <script>
        // document.getElementById("rating_star_1").className = "star-full";
    </script>
    {{ form_end(form) }}
    </br></br>
    </br></br>


</center>

{% endblock %}