
<div class="container">
    {{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <div id="card-element" class="form-control">
        <!-- a Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
