{% extends 'base.html.twig' %}

{% block title %}New Card{% endblock %}
{% block body %}
    <h1>Create new Card</h1>

    {{ include('card/_form.html.twig') }}
<div class="container">
    <a href="{{ path('card_index') }}" class="btn btn-primary">back to list</a>
</div>
{% endblock %}