{% extends 'base.html.twig' %}

{% block title %}Niveau index{% endblock %}

{% block body %}
    <h1>Niveau index</h1>

    <table class="table" id="tableac">

        <thead>
        <tr>
            <th>IdN</th>
            <th>NomNiv</th>
            <th>IdTeacher</th>
        </tr>
        </thead>
        <tbody>
        {% for niveau in niveaux %}
            <tr>
                <td>{{ niveau.idN }}</td>
                <td>{{ niveau.nomNiv }}</td>
                <td>{{ niveau.idTeacher }}</td>

            </tr>

            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
